@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 10px;
}
.custom-info-box {
  position: fixed;
  margin-top: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem; 
  right: 0;
  height: 83%;
  width: 25%;
  background-color: #aeb0b3;
  overflow-y: auto;
  border-radius: 0.5rem;
  opacity: 0.65;
}

option {
  font-size: 1.2em;
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

