@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.custom-info-box {
  z-index: 50;
  position: fixed;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  right: 0;
  height: 83%;
  width: 22.5%;
  background-color: #aeb0b3;
  opacity: 0.9;
  border-radius: 0.5rem;
  overflow: auto;
  scroll-behavior: auto;
}

option {
  font-size: 1.2em;
}

.icon {
  cursor: pointer;
}
